{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "cwd": "babelrc",
          "components": "./src/components",
          "containers": "./src/containers",
          "screens": "./src/screens",
          "styles": "./src/styles",
          "assets": "./static/assets"
        }
      }
    ]
  ]
}
